body{
    background-color: #000;
}
.container{
    width: 400px; 
    height: 500px; 
    position: relative; 
    margin: 0 auto; 
    border:  solid; 
    background-color: #ffffff; 
    top: 50px;
}

